.customerBakset {
   margin-top: 50px;
   position: relative;
   left: 25%;
}

.customerBakset img {
   width: 30%;
   max-width: 15%;
}

.customerBakset hr {
   width: 50%;
}

.customerBasketLastHr {
   position: relative;
   top:-180px;
}

.customerBakset p {
   position: relative;
   top: -160px;
   left: 200px;
}

.checkBoxForBasket {
   margin: 0px;
   position: relative;
   left: 700px;
   top: -310px;
   width: 30px;
   height: 30px;
}

.customerBakset h3 {
   position: relative;
   top: -160px;
   left: 200px;
}

.basketCountButton {
   margin: 4px;
   width: 30px;
   height: 30px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
}

.basketOrderButton {
   position: relative;
   left: 25%;
   top: -100px;
}
