body {
   margin: 0 auto; /* 페이지를 수평 가운데 정렬*/
   overflow-x: hidden; /* 옆으로 이동하는 스크롤을 숨김 */
}

.customerOrederedProduct {
   margin-top: 50px;
   position: relative;
   left: 25%;
}

.customerOrederedProduct img {
   width: 30%;
   max-width: 15%;
}

.customerOrederedProduct hr {
   width: 50%;
}

.customerOrderLastHr {
   position: relative;
   top:-140px;
}

.customerOrederedProduct h5 {
   width: 50%;
   background-color: rgb(183, 183, 183);
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: -10px;
}

.customerOrederedProduct p {
   position: relative;
   top: -160px;
   left: 200px;
}



.customerReformProduct {
   position: relative;
   left: 25%;
}

.customerReformProduct img {
   width: 30%;
   max-width: 15%;
}

.customerReformProduct hr {
   width: 50%;
}

.customerReformLastHr {
   position: relative;
   top:-140px;
}

.customerReformProduct h5 {
   width: 50%;
   background-color: rgb(183, 183, 183);
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: -10px;
}

.customerReformProduct p {
   position: relative;
   top: -160px;
   left: 200px;
}