.productList {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 50px;
}
 
.productItem {
   flex: 0 0 calc(25%);
   margin: 50px;
   box-sizing: border-box;
}
 
.productItem img {
   width: 100%;
   max-width: 250px;
   height: auto;
   display: block;
   margin: 0 auto;
}
 
.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   font-size: 30px;
}

.pagination span {
   margin: 0 20px; /* 좌우 간격 */
}

.findProduct {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.findProduct input[type='text'] {
  width: 800px;
  height: 40px;
  font-size: 20px;
}

.sortButtons {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  margin-right: 530px;
}

.sortButtons button {
  width: 120px;
  height: 40px;
  font-size: 16px;
  margin: 0 10px;
}